body {
  margin: 0px;
}

#login {
  margin: auto;
  text-align: center;
}
.userMarker{
  background-color: red;
}


.link_nav {
  color: inherit;
  text-decoration: none;
  padding-right: 20px;
  font-weight: bold;
}

#navbar_campus_driver {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  
}
#navbar_routes {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 14px;
}
#user-navbar-email {
  font-size: 23px;
  padding-top: 14px;
}
#navbar-title {
  font-size: 23px;
  padding-top: 14px;
  font-weight: bold;
}
.navbar-button {
  color: white;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
  font-weight: bold;
}

#signup {
  margin: auto;
  text-align: center;
}

#dashboard {
  margin: auto;
  text-align: center;
}
#logout {
  margin: auto;
  text-align: center;
}

.loading {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

.lds-roller {
  display: inline-block;
  height: 5rem;
  left: 48%;
  position: fixed;
  top: 50%;
  width: 5rem;
  z-index: 100;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  #user-navbar-email {
    display: none;
  }
  #navbar-title {
    display: none;
  }
}

/*CREATE CARPOOLİNG*/
.create-pool-form {
  display: flex;
  flex-direction: column;
}
.create-pool-form label {
  padding-bottom: 10px;
  font: 700;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.create-pool-form input {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}




/* SETTING PAGE CSS */
#settings {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}
.settings-form {
  display: flex;
  flex-direction: column;
}
.settings-form label {
  padding-bottom: 10px;
  font: 700;
  color: azure;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.settings-form input {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
.settings-form-card {
  background-color: rgb(192, 192, 192);
  border: 1px solid goldenrod;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*burger menu*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: sticky;
  width: 36px;
  height: 30px;
  right: 36px;
  margin-right: 10px;
}
.MuiButton-label {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.warning {
  color: rgb(126, 63, 63);
  text-align: center;
  font-weight: bold;
}
.click-here {
  color: red;
  font-weight: bold;
}
.MuiDialog-paperWidthSm {
  background-color: #373a47;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-burger-bars-hover {
  background: #373a47;
}
.bm-cross-button {
  margin-right: 18px;
}
.bm-cross {
  background: #bdc3c7;
}

#carpooling {
  display: flex;
}

.bm-menu-wrap {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 90% !important;
}
.bm-menu {
  background: #373a47;
  padding: 0em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #e9e8e3;
  padding: 0.7em;
}
.video-background-controls {
  right: 0;
  left: 10px;
}
.bm-item,
.bm-item:hover {
  display: inline-block;
  background-color: rgb(57, 63, 70);
  color: white;
  padding: 14px 10px;
  border-bottom: 2px solid #18191b;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 0px;
  height: 0px;
}

/*carpooling groups*/
#carpooling-groups {
  background-color: grey;
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  border: 3px solid black;
}

.restriction{
  text-align: center;
}

#users {
  z-index: 999999;
  position: absolute;
  background: rgba(0,0,0,0);
  bottom: 30px;
  left: 15px;
}

#coordinate-inputs-for- {
  width: 185px;
  padding-top: 10px;
}